node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.pnp*
.cache
.next
dist
build
coverage
.pytest_cache
__pycache__
*.py[cod]
*.sqlite
.venv
venv
.mypy_cache
.ruff_cache
.idea
.vscode
.DS_Store
*.swp
*.swo
*.log
.env
.env.*
docker-compose*.yml
**/.git
**/.gitignore
**/.github
**/.gitmodules
**/.gitattributes
**/.husky
**/.editorconfig
**/.prettier*
**/.eslint*
**/.stylelint*
**/README*
**/docs
**/scripts
**/tests
**/tests-e2e
**/.tmp*
**/.cache
