fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.36
psycopg[binary]==3.2.10
alembic==1.14.0
pydantic==1.10.18
qrcode==7.4.2
pillow==10.4.0
python-multipart==0.0.9
exifread==3.0.0
reportlab==4.2.2
APScheduler==3.10.4
boto3==1.35.41